/* About us section */

.about-us {
  padding-top: 60px;
  padding-bottom: 60px;

  .subtitle {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }

  .description {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {

.about-us {
  .subtitle {
    text-align: center;
  }
}

.about-us-list {
  .item:not(:last-child) {
        margin-bottom: 30px;
      }
   }
}

@media screen and (min-width: 768px) {
  .about-us-list {
        display: flex;
        flex-wrap: wrap;

        .item {
          width: calc((100% - 30px) / 2);
          margin-right: 30px;
          margin-bottom: 30px;
          
          &:nth-child(2n) {
            margin-right: 0;
          }

          &:nth-last-child(-n+2) {
            margin-bottom: 0;
          }
       }
    }
 }

 
@media screen and (min-width: 1200px) {
  .about-us-list .item {
        width: calc((100% - 3 * 30px) / 4);
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 30px;
        }
    } 
}

 .about-us-img {
  
  background-color: $button-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;

  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
    
}

.about-us-svg {
  width: 70px;
  height: 70px;
}
