/* Clients section */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  .title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    border: 1px solid $primary-social-links-color;
    border-radius: 4px;

    fill: $primary-social-links-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $accent-color;
      fill: $accent-color;
    }
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;

  .item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list .item {
    width: calc((100% - 30px) / 2);
    
    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
  .clients-list .item {
    width: calc((100% - 2 * 30px) / 3);
    
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list .item {
    width: calc((100% - 5 * 30px) / 6);
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}