$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$button-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$primary-social-links-color: #afb1b8;
$hover-button-color: #188ce8;
